* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  margin: 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  max-width: 300px;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

header .max-width-wrapper {
  margin: 96px auto 48px;
  padding-left: 16px;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  height: 100%;
}

main .max-width-wrapper {
  padding-top: 96px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.max-width-wrapper {
  max-width: 580;
}

.card {
  background-color: white;
  width: fit-content;
  padding: 8px 24px;
}

.indented-heading {
  margin-left: -48px;
  width: fit-content;
  padding: 16px 48px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
